body {
  background-color: rgb(255, 255, 255);
  height: 150vh;
}

/* CSS SELECTORS */

#name {
  background-color: rgb(243, 117, 117);
}

.cool {
  background-color: bisque;
}

/* Child Selector */

div h4 {
  background-color: aquamarine;
}

/* Direct Child Selector */

div > p {
  background-color: black;
  color: aliceblue;
}

/* Adjacent/Direct  Sibling Selector */
div + p {
  background-color: rgb(185, 128, 238);
}

/* All Sibling Selector */
div ~ span {
  background-color: rgb(127, 248, 6);
}

/* Attribute Selector */
a[href="www.google.com"] {
  color: rgb(243, 5, 104);
}
a[href*="wwws"] {
  color: rgb(255, 157, 0);
}

/* Colors in CSS */
/* The Background Property */

/* Text Styling */

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  line-height: 3;
  text-decoration: line-through;
}

a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

#parent {
  background-color: burlywood;
  width: 50px;
  height: 100px;
}

#child {
  background-color: rgb(243, 117, 117);
  width: 50vw;
  height: 60%;
}

/* Width and Height in CSS */
/* COMMENTS IN CSS */

/* Box Model */
#box {
  background-color: rgb(255, 111, 0);
  border: 5px solid rgb(0, 255, 76);
  border-radius: 15px;
}

/* Display */
#display {
  background-color: coral;
  height: 40px;
}

#display_low {
  color: aliceblue;
  background-color: rgb(126, 38, 6);
  height: 40px;
}

/* Position */

#out {
  background-color: rgb(186, 111, 216);
  width: 150px;
  height: 150px;
  position: relative;
  margin-top: 10px;
}
#in {
  background-color: rgb(82, 0, 115);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Flexbox */
#flex-box {
  display: flex;
  height: 20vh;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
  gap: 5px;
}

#one {
  width: 100px;
  height: 100px;
  background-color: yellowgreen;
  align-self: baseline;
}
#two {
  width: 100px;
  height: 100px;
  background-color: rgb(0, 255, 81);
  margin-bottom: 40px;
}
#three {
  width: 100px;
  height: 100px;
  background-color: rgb(205, 50, 50);
}

#grid-box {
  margin-top: 20px;
  display: grid;
  height: 40vh;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
}

#grid-one {
  background: rgb(158, 42, 0);
  grid-column: span 2;
}
#grid-two {
  background: palevioletred;
}
#grid-three {
  background: cornflowerblue;
  grid-column: 1/3;
}
#grid-four {
  background: rgb(187, 0, 255);
}
#grid-five {
  background: rgb(113, 83, 7);
}

/* Pseudo Classes */

button {
  margin-top: 10px;
  background: #b5aaaa;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px 25px;
  cursor: pointer;
}

button:active {
  background: palevioletred;
  color: #ffffff;
}

input:focus {
  background: orangered;
  color: #ffffff;
}

#p-test {
  color: rgb(2, 31, 31);
}

#p-test:visited {
  color: orangered;
}

input:checked {
  width: 20px;
  height: 20px;
  background: orangered;
}

li:first-child {
  color: orangered;
}

li:last-child {
  background-color: lime;
}

li:nth-child(2) {
  color: rgb(8, 75, 8);
}
